<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Corona</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/site.css" />

    <link href="css/sb-admin-2.css" rel="stylesheet">
    </head>
<link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico' />
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <div class="d-none d-sm-block">
            <ul class="navbar-nav  bg-gradient-primary sidebar sidebar-dark accordion" data-target="mobile-demo" id="accordionSidebar">
              <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=11&l=ur1&category=audible&banner=07A3WNK2V7498JPEV102&f=ifr&linkID=d1cf0e4c4c4c42b88c3aa83bca2a1f4d&t=coronavirusne-21&tracking_id=coronavirusne-21" width="120" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                                 </div>
        <!-- End of Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="d-sm-flex  align-items-center justify-content-center mb-6">
                        <div class="d-flex p-2 align-items-center  h1 mb-1 mt-2 text-gray-800 font-weight-bold">Corona Virus Near Me</div>
                    </div>
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-4 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Global Confirmed Cases</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <%- summary_confirmed %>
                                                <i id="confirmedfasfa-angle" class="fas fa-angle-double-up">  </i> <%- summary_change_con %>
                                                <small>(24hr change)</small>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-4 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Global Deaths</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <%- summary_deaths %>
                                                <i class="fas fa-angle-double-up"></i>  <%- summary_change_de %>
                                                <small>(24hr change)</small>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="col-xl-4 col-md-4 col-mb-4 col-l-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-auto">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Global Recovered</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <%- summary_recovered %>
                                                <i id="recoveredfasfa-angle" class="fas fa-angle-double-up">  </i> <%- summary_change_rec %>
                                                <small>(24hr change)</small>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12 col-mb-12 col-l-12">
                            <div class="card  shadow h-100 py-2">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <div class="row no-gutters align-items-center">
                                        <h4 class="m-0 font-weight-bold text-primary" id="locdatadiv"></h4>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h4 class="m-0 font-weight-bold text-primary">Map</h4>
                                    <div class="dropdown no-arrow">
                                    </div>
                                </div>

                                <!-- Card Body -->
                                <div class="card-body">
                                   <iframe width="100%" height="520" frameborder="0" src="https://coronavirusnearme.carto.com/builder/150c6797-9328-4509-beb6-f248204f0bcd/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe><!-- Earnings (Monthly) Card Example -->
                                </div>
                                    <div class="d-block d-sm-none"><div class="alignleft">
     <script type="text/javascript">
         amzn_assoc_ad_type = "banner";
         amzn_assoc_marketplace = "amazon";
         amzn_assoc_region = "US";
         amzn_assoc_placement = "assoc_banner_placement_default";
         amzn_assoc_campaigns = "primediscounted";
         amzn_assoc_banner_type = "category";
         amzn_assoc_p = "12";
         amzn_assoc_isresponsive = "false";
         amzn_assoc_banner_id = "0B1ZM2WXBW6G511AGG02";
         amzn_assoc_width = "300";
         amzn_assoc_height = "250";
         amzn_assoc_tracking_id = "tradermaths-20";
         amzn_assoc_linkid = "87629d80a061b9f198112bcffb42c653";
     </script>
     <script src="https://z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
    </div>   </div><!-- Content Row -->
                                <div id="chartdiv"></div>
                                        <!-- Area Chart -->
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="card shadow mb-2">
                                            <!-- Card Header - Dropdown -->
                                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h5 class="m-0 font-weight-bold text-primary">Time Series Top 20 Confirmed Countries</h5>
                                            </div><div class="row">
                                                <button class="btn btn-success ml-3 mr-2 mb-2" onclick="addDataset(this)">Add Dataset</button>
                                                <button class="btn btn-danger mb-2" onclick="removeDataset(this)">Remove Dataset</button>
                                            </div>

                                            <form id="dropdown" class="col-md-4">
                                            </form>
                                            <!-- Card Body -->
                                            <div class="card-body col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <div>
                                                    <div class="chart-area">
                                                        <canvas id="myChart"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="sticky-footer bg-white">
                            <div class="container my-auto">
                                <div>
                                    Sources:
                                    <a href="https://github.com/CSSEGISandData/COVID-19">John Hopkins University</a>,
                                    <a href="https://www.gov.uk/government/publications/covid-19-track-coronavirus-cases">Public Health England</a>
                                </div>

                                <div class="copyright text-center my-auto">
                                    <span>Copyright &copy; CoronaVirustracker 2019</span>
                                </div>
                            </div>
                        </footer>

                    </div>

                </div>
            </div>
        </div>


    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script src="js/cookies.js"></script>



<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140025504-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-140025504-2');
</script>


<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    ctx.canvas.parentNode.style.width = '100%'
    var fdata = <%-timeseriesdata %>

    var options = [];
    for (var i = 0; i < fdata.length; i++)
        if (fdata[i]['Province-State'] == "N/A") {
            options.push('<option value="' + i + '">' + (fdata)[i]["Country-Region"] + '</option>')
        }
        else { options.push('<option value="' + i + '">' + (fdata)[i]["Country-Region"] + " " + fdata[i]["Province-State"] + '</option>') }
    $('#dropdown').html('<select id="dropdownop"class="form-control select2">' + options.join('') + '</select>');

    var arrlabel = []
    var arrlabels = []
    var arrdata = []

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: Object.keys(fdata[0]['values'][0]),
            datasets: [{
                label: (fdata)[0]["Country-Region"] + " " + fdata[0]["Province-State"],
                data: Object.values(fdata[0]['values'][0]),
                pointBorderColor: "#6495ED",
                borderColor: "#6495ED"
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    function addDataset() {
        var colors = ["red", "#7CFC00", "green", "#00FFFF", "#EE82EE", "#e755ba", "#8B008B", "#DAA520", "#D2691E", "#800000", "#FF1493", "#8A2BE2", "#4169E1", "#00BFFF", "#008080", "#00CED1", "#808000"]
        var dropv = $('#dropdownop').val();
        var dropt = $('#dropdownop :selected').text()


        if (myChart.data.datasets.length < 19) {
            for (i = 0; i < myChart.data.datasets.length; i++) {
                if (dropt == myChart.data.datasets[i].label) {

                    return
                }

            }
            myChart.data.datasets.push({
                label: dropt,
                data: Object.values(fdata[dropv]['values'][0]),
                pointBorderColor: colors[i],
                borderColor: colors[i]
            });
            myChart.update();
        }
    }
    function removeDataset() {
        var dropv = $('#dropdownop').val();
        var dropt = $('#dropdownop :selected').text()

        for (i = 0; i < myChart.data.datasets.length; i++) {
            if (dropt == myChart.data.datasets[i].label) {
                console.log(dropt)
                myChart.data.datasets.splice(i, 1)

            }

        }

        myChart.update();
    }

</script>


<script>
    var x = document.getElementById("locdatadiv");

    function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
        var R = 6371; // Radius of the earth in km
        var dLat = deg2rad(lat2 - lat1);  // deg2rad below
        var dLon = deg2rad(lon2 - lon1);
        var a =
            Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
            Math.sin(dLon / 2) * Math.sin(dLon / 2)
            ;
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var d = R * c; // Distance in km

        return d;
    }


    function deg2rad(deg) {
        return deg * (Math.PI / 180)
    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {

        var locdatai = <%-locdata %>;

        var ar = []

        for (i = 0; i < locdatai.length; i++) {
            ar.push(getDistanceFromLatLonInKm(position.coords.latitude, position.coords.longitude, locdatai[i]['Lat'], locdatai[i]['Long-']))

        }
     
        var j = ar.indexOf(Math.min(...ar));
    

        var lati = position.coords.latitude;
        var longi = position.coords.longitude;
        x.innerHTML = "Your Location: " + locdatai[j]['Combined-Key']  + ", Confirmed: " + locdatai[j]['Confirmed'] + ", Deaths: " + locdatai[j]['Deaths'] + ", Recovered: " + locdatai[j]['Recovered']
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }
    }




    getLocation()
</script>

</html>
